{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title }}{% endblock %}

{% block body %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ asset('images/' ~ annonce.image) }}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Propriétaire : {{annonce.owner.firstName }}  {{ annonce.owner.lastName }}</div>
                <h1 class="display-5 fw-bolder">{{ annonce.title }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ annonce.price }} €</span>
                </div>
                <p class="lead">{{ annonce.description }}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Acheter
                    </button>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') or app.user == annonce.owner %}
            <div class="cmargintop">
                <a class="btn btn-primary mt-auto" href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
                <a class="btn btn-danger mt-auto" href="{{ path('annonce_delete', {'id': annonce.id}) }}">Supprimer</a>
            </div>
        {% endif %}
    </div>
</section>


{% endblock %}
 